html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.invisible {
    opacity: 0;
}

.hidden {
    display: none;
}


.clickable {
    cursor: pointer;
}


.anchor {
    position: relative;
}


.no-padding {
    padding: 0;
}

.padding {
    padding: 0.5em;
}

.padding-v {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.padding-v-lg {
    padding: 0.75em 0;
}

.padding-top-xs {
    padding-top: 0.25em;
}

.padding-top {
    padding-top: 0.5em;
}

.padding-top-lg {
    padding-top: 0.75em;
}

.padding-bottom-xs {
    padding-bottom: 0.25em;
}

.padding-bottom {
    padding-bottom: 0.5em;
}

.padding-bottom-lg {
    padding-bottom: 0.75em;
}


.margin-top {
    margin-top: 0.5em;
}

.margin-bottom {
    margin-bottom: 0.5em;
}

.margin-left {
    margin-left: 0.5em;
}

.margin-left-xs {
    margin-left: 0.25em;
}

.margin-right {
    margin-right: 0.5em;
}

.margin-right-xs {
    margin-right: 0.25em;
}

.border-top {
    border-top: 1px solid;
}

.border-top-lg {
    border-top: 2px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}

.border-bottom-lg {
    border-bottom: 2px solid;
}


.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


#app {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}


#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 4em;
    background-color: #333;
    color: ivory;
    z-index: 1000;
}



#battle-scene {
    position: relative;
    height: 100%;
}

#battle-scene > .player-panel {
    position: relative;
    height: 35%;
    min-height: 144px;
    padding: 0 1em;
}

#battle-scene > .action-bar {
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding-top: 1em;
    text-align: center;
}

@media (min-height: 480px) {
    #battle-scene > .action-bar {
        top: 70%;
        bottom: auto;
        left: 0;
        right: 0;
    }
}



.portrait-wrapper {
    position: relative;
    width: 96px;
    height: 96px;
}

.portrait {
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

.portrait > img {
    width: 100%;
    height: 100%;
    display: none;
}

.portrait-wrapper > .portrait:first-child {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    z-index: 200;
}

.portrait-wrapper > .portrait:not(:first-child) {
    width: 50%;
    height: 50%;
    z-index: 150;
}

/* second out of two items, third out of four items */
.portrait-wrapper > .portrait:first-child:nth-last-child(2) ~ .portrait,
.portrait-wrapper > .portrait:first-child:nth-last-child(4) ~ .portrait:nth-child(3) {
    top: auto;
    left: -20%;
    right: auto;
    bottom: -20%;
}

/* second out of two items, third out of four items */
.mirrored .portrait-wrapper > .portrait:first-child:nth-last-child(2) ~ .portrait,
.mirrored .portrait-wrapper > .portrait:first-child:nth-last-child(4) ~ .portrait:nth-child(3) {
    top: -20%;
    left: auto;
    right: -20%;
    bottom: auto;
}

/* second out of three items */
.portrait-wrapper > .portrait:first-child:nth-last-child(3) ~ .portrait:nth-child(2) {
    top: auto;
    left: auto;
    right: 15%;
    bottom: -30%;
}

.mirrored .portrait-wrapper > .portrait:first-child:nth-last-child(3) ~ .portrait:nth-child(2) {
    top: -30%;
    left: 15%;
    right: auto;
    bottom: auto;
}

/* third out of three items */
.portrait-wrapper > .portrait:first-child:nth-last-child(3) ~ .portrait:nth-child(3) {
    top: 15%;
    left: -30%;
    right: auto;
    bottom: auto;
}

.mirrored .portrait-wrapper > .portrait:first-child:nth-last-child(3) ~ .portrait:nth-child(3) {
    top: auto;
    left: auto;
    right: -30%;
    bottom: 15%;
}

/* second out of four items */
.portrait-wrapper > .portrait:first-child:nth-last-child(4) ~ .portrait:nth-child(2) {
    top: auto;
    left: auto;
    right: -20%;
    bottom: -20%;
}

/* fourth out of four items */
.portrait-wrapper > .portrait:first-child:nth-last-child(4) ~ .portrait:nth-child(4) {
    top: -20%;
    left: -20%;
    right: auto;
    bottom: auto;
}


.portrait-wrapper > .icon-unit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    height: 48px;
    margin-top: -25px;
    margin-left: -25px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}


.player-panel.mirrored .portrait-wrapper > .pos-2-4 {
    transform: rotate(240deg) translate(64px) rotate(-240deg);
}

.player-panel.mirrored .portrait-wrapper > .pos-3-4 {
    transform: rotate(315deg) translate(64px) rotate(-315deg);
}

.player-panel.mirrored .portrait-wrapper > .pos-4-4 {
    transform: rotate(30deg) translate(62px) rotate(-30deg);
}

.player-panel .portrait-wrapper > .pos-2-4,
#team-player-panel .portrait-wrapper > .pos-2-4 {
    transform: rotate(60deg) translate(62px) rotate(-60deg);
}

.player-panel .portrait-wrapper > .pos-3-4,
#team-player-panel .portrait-wrapper > .pos-3-4 {
    transform: rotate(135deg) translate(64px) rotate(-135deg);
}

.player-panel .portrait-wrapper > .pos-4-4,
#team-player-panel .portrait-wrapper > .pos-4-4 {
    transform: rotate(210deg) translate(64px) rotate(-210deg);
}


.portrait > .adornment {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: -13px;
    margin-left: -13px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    background-position: center;
    background-size: cover;
}

.portrait-wrapper > .portrait:not(:first-child) > .adornment {
    display: none;
}

.player-panel.mirrored .portrait > .adornment.indicator-type {
    transform: rotate(160deg) translate(54px) rotate(-160deg);
}

.player-panel.mirrored .portrait > .adornment.indicator-level {
    transform: rotate(110deg) translate(54px) rotate(-110deg);
}

.player-panel .portrait > .adornment.indicator-type {
    transform: rotate(290deg) translate(54px) rotate(-290deg);
}

.player-panel .portrait > .adornment.indicator-level {
    transform: rotate(340deg) translate(54px) rotate(-340deg);
}


.player-panel > .portrait-wrapper {
    position: absolute;
    left: 40px;
    bottom: 40px;
}

.player-panel.mirrored > .portrait-wrapper {
    position: absolute;
    top: 40px;
    left: auto;
    right: 40px;
    bottom: auto;
}



.nameplate {
    position: relative;
    font-weight: bold;
}

.nameplate > .unit-name {
    margin: 0;
}

.player-panel > .nameplate {
    position: absolute;
    left: 160px;
    right: 1em;
    bottom: 56px;
    border-style: solid;
    border-top: none;
    border-bottom-width: 0.5em;
    border-left: 0.75em solid transparent;
    border-right: none;
}

.player-panel > .nameplate > .progress-bar {
    top: 0.25em;
}

.player-panel.mirrored > .nameplate {
    position: absolute;
    top: 40px;
    left: 1em;
    right: 160px;
    bottom: auto;
    border-right: 0.75em solid transparent;
    border-left: none;
}




@media (min-width: 640px) and (min-height: 480px) {
    .portrait-wrapper {
        width: 136px;
        height: 136px;
    }

    .portrait {
        width: 128px;
        height: 128px;
        border-width: 4px;
    }

    .portrait-wrapper > .icon-unit {
        width: 64px;
        height: 64px;
        margin-top: -33px;  /* +1 for border */
        margin-left: -33px;
    }

    .player-panel.mirrored .portrait-wrapper > .pos-2-4 {
        transform: rotate(240deg) translate(92px) rotate(-240deg);
    }

    .player-panel.mirrored .portrait-wrapper > .pos-3-4 {
        transform: rotate(315deg) translate(90px) rotate(-315deg);
    }

    .player-panel.mirrored .portrait-wrapper > .pos-4-4 {
        transform: rotate(30deg) translate(88px) rotate(-30deg);
    }

    .player-panel .portrait-wrapper > .pos-2-4,
    #team-player-panel .portrait-wrapper > .pos-2-4 {
        transform: rotate(60deg) translate(88px) rotate(-60deg);
    }

    .player-panel .portrait-wrapper > .pos-3-4,
    #team-player-panel .portrait-wrapper > .pos-3-4 {
        transform: rotate(135deg) translate(90px) rotate(-135deg);
    }

    .player-panel .portrait-wrapper > .pos-4-4,
    #team-player-panel .portrait-wrapper > .pos-4-4 {
        transform: rotate(210deg) translate(92px) rotate(-210deg);
    }


    .portrait > .adornment {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 1.25em;
        margin-top: -17px;
        margin-left: -17px;
    }

    .player-panel.mirrored .portrait > .adornment.indicator-type {
        transform: rotate(160deg) translate(72px) rotate(-160deg);
    }

    .player-panel.mirrored .portrait > .adornment.indicator-level {
        transform: rotate(110deg) translate(72px) rotate(-110deg);
    }

    .player-panel .portrait > .adornment.indicator-type {
        transform: rotate(290deg) translate(72px) rotate(-290deg);
    }

    .player-panel .portrait > .adornment.indicator-level {
        transform: rotate(340deg) translate(72px) rotate(-340deg);
    }


    .player-panel > .portrait-wrapper {
        left: 56px;
        bottom: 56px;
    }

    .player-panel.mirrored > .portrait-wrapper {
        top: 56px;
        right: 56px;
    }


    .player-panel > .nameplate {
        left: 220px;
        bottom: 92px;
    }

    .player-panel.mirrored > .nameplate {
        top: 64px;
        right: 220px;
    }
}




#team-menu {
    position: relative;
    padding: 0.5em;
}

@media screen and (min-width:48em) {
#team-menu {padding: 2em;}
}

#team-player-panel {
    position: relative;
}

#team-player-panel .portrait-wrapper {
    margin-left: 3em;
}

#team-player-panel .info-panel {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 15em;
    border: 1px solid;
    border-radius: 6px;
    background-color: ivory;
    overflow: hidden;
}

#team-player-panel .info-panel span.detail {
    color: grey;
    font-size: 0.75em;
}

#team-collection-viewer {
    margin-top: 2.5em;
}

#team-collection-viewer .icon-unit {
    display: inline-block;
    width: 3em;
    height: 3em;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    background-color: ivory;
}

#team-collection-viewer .icon-unit > img {
    width: 100%;
    height: 100%;
    display: none;
}

@media (min-width: 640px) and (min-height: 480px) {
    #team-collection-viewer .icon-unit {
        width: 4em;
        height: 4em;
    }
}

#team-collection-viewer .scroll-buttons {
    position: relative;
    height: 100%;
}

#team-collection-viewer .scroll-buttons > .scroll-up {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
}

#team-collection-viewer .scroll-buttons > .scroll-down {
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
}




.progress-bar {
    position: relative;
    min-height: 1em;
    border: 1px solid;
    border-radius: 6px;
    background-color: whitesmoke;
    overflow: hidden;
}

.progress-bar.small {
    font-size: 0.75em;
    background-color: darkslategrey;
}

.progress-bar > .progress {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: limegreen;
}

.progress-bar.small > .progress {
    background-color: blueviolet;
}

.progress-bar > .progress-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    z-index: 200;
}

.progress-bar.small > .progress-label {
    color: whitesmoke;
}



.decoration.arrow {
    position: relative;
    min-height: 1px;
    border-top-width: 1px;
    border-top-style: solid;
    overflow: hidden;
}

.decoration.arrow > .arrowhead.pull-left {
    width: 0;
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right-width: 10px;
    border-right-style: solid;
}

.decoration.arrow > .arrowhead.pull-right {
    width: 0;
    height: 0; 
    border-bottom: 8px solid transparent; 
    border-left-width: 32px;
    border-left-style: solid;
}


.stretch {
    width: 100%;
    font-size: 0;
    line-height: 0;
}




.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}


.show-block-xs, .show-block-sm, .show-block-md,
.show-inline-block-xs, .show-inline-block-sm, .show-inline-block-md,
.show-inline-xs, .show-inline-sm, .show-inline-md {
    display: none;
}

@media screen and (min-width:30em) {
.show-block-xs{display: block;}
.show-inline-block-xs{display: inline-block;}
.show-inline-xs{display: inline;}
}

@media screen and (min-width:35.5em) {
.show-block-sm{display: block;}
.show-inline-block-sm{display: inline-block;}
.show-inline-sm{display: inline;}
}

@media screen and (min-width:48em) {
.show-block-md{display: block;}
.show-inline-block-md{display: inline-block;}
.show-inline-md{display: inline;}
}


@media screen and (min-width:30em) {
.pure-u-xs-1, .pure-u-xs-1-1, .pure-u-xs-1-2, .pure-u-xs-1-3,
.pure-u-xs-2-3, .pure-u-xs-1-4, .pure-u-xs-3-4, .pure-u-xs-1-5,
.pure-u-xs-2-5, .pure-u-xs-3-5, .pure-u-xs-4-5, .pure-u-xs-5-5,
.pure-u-xs-1-6, .pure-u-xs-5-6, .pure-u-xs-1-8, .pure-u-xs-3-8,
.pure-u-xs-5-8, .pure-u-xs-7-8, .pure-u-xs-1-12, .pure-u-xs-5-12,
.pure-u-xs-7-12, .pure-u-xs-11-12, .pure-u-xs-1-24, .pure-u-xs-2-24,
.pure-u-xs-3-24, .pure-u-xs-4-24, .pure-u-xs-5-24, .pure-u-xs-6-24,
.pure-u-xs-7-24, .pure-u-xs-8-24, .pure-u-xs-9-24, .pure-u-xs-10-24,
.pure-u-xs-11-24, .pure-u-xs-12-24, .pure-u-xs-13-24, .pure-u-xs-14-24,
.pure-u-xs-15-24, .pure-u-xs-16-24, .pure-u-xs-17-24, .pure-u-xs-18-24,
.pure-u-xs-19-24, .pure-u-xs-20-24, .pure-u-xs-21-24, .pure-u-xs-22-24,
.pure-u-xs-23-24, .pure-u-xs-24-24 {
    display:inline-block; *display:inline; zoom:1; letter-spacing:normal;
    word-spacing:normal; vertical-align:top; text-rendering:auto
}

.pure-u-xs-1-24{width:4.1667%;*width:4.1357%}
.pure-u-xs-1-12,.pure-u-xs-2-24{width:8.3333%;*width:8.3023%}
.pure-u-xs-1-8,.pure-u-xs-3-24{width:12.5%;*width:12.469%}
.pure-u-xs-1-6,.pure-u-xs-4-24{width:16.6667%;*width:16.6357%}
.pure-u-xs-1-5{width:20%;*width:19.969%}
.pure-u-xs-5-24{width:20.8333%;*width:20.8023%}
.pure-u-xs-1-4,.pure-u-xs-6-24{width:25%;*width:24.969%}
.pure-u-xs-7-24{width:29.1667%;*width:29.1357%}
.pure-u-xs-1-3,.pure-u-xs-8-24{width:33.3333%;*width:33.3023%}
.pure-u-xs-3-8,.pure-u-xs-9-24{width:37.5%;*width:37.469%}
.pure-u-xs-2-5{width:40%;*width:39.969%}
.pure-u-xs-5-12,.pure-u-xs-10-24{width:41.6667%;*width:41.6357%}
.pure-u-xs-11-24{width:45.8333%;*width:45.8023%}
.pure-u-xs-1-2,.pure-u-xs-12-24{width:50%;*width:49.969%}
.pure-u-xs-13-24{width:54.1667%;*width:54.1357%}
.pure-u-xs-7-12,.pure-u-xs-14-24{width:58.3333%;*width:58.3023%}
.pure-u-xs-3-5{width:60%;*width:59.969%}
.pure-u-xs-5-8,.pure-u-xs-15-24{width:62.5%;*width:62.469%}
.pure-u-xs-2-3,.pure-u-xs-16-24{width:66.6667%;*width:66.6357%}
.pure-u-xs-17-24{width:70.8333%;*width:70.8023%}
.pure-u-xs-3-4,.pure-u-xs-18-24{width:75%;*width:74.969%}
.pure-u-xs-19-24{width:79.1667%;*width:79.1357%}
.pure-u-xs-4-5{width:80%;*width:79.969%}
.pure-u-xs-5-6,.pure-u-xs-20-24{width:83.3333%;*width:83.3023%}
.pure-u-xs-7-8,.pure-u-xs-21-24{width:87.5%;*width:87.469%}
.pure-u-xs-11-12,.pure-u-xs-22-24{width:91.6667%;*width:91.6357%}
.pure-u-xs-23-24{width:95.8333%;*width:95.8023%}
.pure-u-xs-1,.pure-u-xs-1-1,.pure-u-xs-5-5,.pure-u-xs-24-24{width:100%}
}

